.button {
  padding: 12px;
  font-size: 16px;
  background: #87c73c;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  color: white;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}
